<div id="<%= dom_id basket_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= basket_item.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Keyboard item:</strong>
    <%= basket_item.keyboard_item_id %>
  </p>

</div>
