<div class="w-full">
  <% content_for :title, "Keyboard items" %>

  <% if user_signed_in? && current_user.admin? %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Keyboard items</h1>
    <%= link_to "New keyboard item", new_keyboard_item_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <% end %>

  <div id="keyboard_items" class="min-w-full">
    <% @keyboard_items.each do |keyboard_item| %>
      <%= render keyboard_item %>
    <% end %>
  </div>
</div>
